<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="CapstoneDatabase" connectionString="Data Source=.\SQLExpress;Initial Catalog=NationalParks;Persist Security Info=True;User ID=te_student;Password=techelevator"/>
  </connectionStrings>
</configuration>